{% extends 'base.html' %}

{% block main %}
<h1 class="my-4">Statuses</h1>
  <a href="{% url 'create_label' %}" class="btn btn-primary">Create label</a>

  <table class="table table-strriped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Created date</th>
        </tr>
    </thead>
    <tbody>
        {% for label in labels %}
        <tr>
            <td>{{ label.id }}</td>
            <td>{{ label.name }}</td>
            <td>{{ label.created_at|date:'d.m.Y H:i' }}</td>
            <td>
            <a href="{% url 'update_label' label.id %}">update</a>
            <a href="{% url 'delete_label' label.id %}">delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>

{% endblock %}