{% extends 'base.html' %}

{% block main %}
<div class="container wrapper flex-grow-1">
  <h1 class="my-4">Users</h1>
  <table class="table table-strriped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Full name</th>
            <th>Created date</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.created_at|date:'d.m.Y H:i' }}</td>
            <td>
            <a href="{% url 'update_user' user.id %}">update</a>
            <a href="{% url 'delete_user' user.id %}">delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}