{% extends 'base.html' %}

{% block main %}
<h2>Users</h2>

<table class="table table-strriped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Full name</th>
            <th>Created date</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.created_at|date:'d.m.Y H:i' }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}