{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block main %}
<div class="container wrapper flex-grow-1">
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{message.tags}}">{{message}}</div>
  {% endfor %}
  {% endif %}

  <h1 class="my-4">Tasks</h1>
    <a href="{% url 'create_task' %}" class="btn btn-primary">Create task</a>

  <table class="table table-strriped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Status</th>
            <th>Author</th>
            <th>Executor</th>
            <th>Created date</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{ task.id }}</td>
            <td>{{ task.name }}</td>
            <td>{{ task.status }}</td>
            <td>{{ task.author }}</td>
            <td>{{ task.executor }}</td>
            <td>{{ task.created_at|date:'d.m.Y H:i' }}</td>
            <td>
            <a href="{% url 'update_task' task.id %}">update</a>
            <a href="{% url 'delete_task' task.id %}">delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}