{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block main %}
<h1 class="my-4">Задачи</h1>
    <a href="{% url 'create_task' %}" class="btn btn-primary mb-3">Создать задачу</a>

  <div class="card mb-3">
    <div class="card-body bg-light">
      <form class="form-inline center" method="get">
        {% bootstrap_form filter.form %}
        <input type="submit" class="btn btn-primary" value="Показать">
        <a href="{% url 'task_list' %}" class="mx-2">Сбросить фильтры</a>
      </form>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Статус</th>
            <th>Автор</th>
            <th>Исполнитель</th>
            <th>Дата создания</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{ task.id }}</td>
            <td><a href="{% url 'task' task.id %}">{{ task.name }}</a></td>
            <td>{{ task.status }}</td>
            <td>{{ task.author }}</td>
            <td>{{ task.executor }}</td>
            <td>{{ task.created_at|date:'d.m.Y H:i' }}</td>
            <td>
            <a href="{% url 'update_task' task.id %}">Изменить</a>
            <br>
            <a href="{% url 'delete_task' task.id %}">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}